page-login {

    .scroll-content {
        width           : 100%;
        height          : 100%;
        background-color: #f6f6f6;
    }

    .logo {
        width   : 62%;
        position: fixed;
        top     : 7%;
        left    : 19%;

    }

    .splash {
        width: 100%;
    }

    .paciente {
        font-family : Poppins;
        font-weight : bold;
        color       : #ffffff;
        text-align  : center;
        margin-top  : -22%;
        margin-left : auto;
        margin-right: auto;
    }

    .password {
        width           : 90%;
        height          : 55px;
        font-size       : 17px;
        border-radius   : 3px;
        background-color: rgb(233, 233, 233);
        margin-top      : 5%;
        font-weight     : 500;
        margin-left     : auto;
        margin-right    : auto;
        display         : flex;

    }

    .passwordIcon {
        font-size: 3rem !important;
        position : relative !important;
        top      : 14px !important;
        margin   : 0 auto !important;
    }

    .iniciar-sesion {
        width           : 90%;
        height          : 50px;
        border-radius   : 25px;
        background-image: linear-gradient(99deg, #ffc185, #fd5f54);
        margin-left     : auto;
        margin-right    : auto;
        display         : flex;
        margin-top      : 10%;
    }

    .Conectate-con {

        opacity       : 0.6;
        font-family   : Poppins;
        font-size     : 21px;
        font-weight   : 500;
        font-style    : normal;
        font-stretch  : normal;
        line-height   : normal;
        letter-spacing: normal;
        color         : #4a4a4a;
        text-align    : center;
        margin-top    : 7%;
    }

    .olvid-cont {

        font-family   : Poppins;
        font-size     : 12px;
        font-style    : normal;
        font-stretch  : normal;
        line-height   : normal;
        letter-spacing: 0.2px;
        color         : #597bf0;
        display       : inline-block;
    }

    .new-account {

        font-family   : Poppins;
        font-size     : 13px;
        letter-spacing: normal;
        color         : #597bf0;
    }

    .contain-register {

        display   : flex;
        text-align: center !important;
        margin-top: 14%;

    }

    .account {
        display   : flex;
        text-align: center !important;
        margin-top: 14%;
    }

    .conect-facebook {
        width           : 90%;
        height          : 50px;
        border-radius   : 25px;
        background-color: #3b5998;
        align-self      : auto;
        margin-top      : 7%;
        margin-left     : auto;
        margin-right    : auto;
        display         : flex;
    }

    .conect-gmail {
        width           : 90%;
        height          : 50px;
        border-radius   : 25px;
        background-color: #c71610;
        align-self      : auto;
        margin-top      : 7%;
        margin-left     : auto;
        margin-right    : auto;
        display         : flex;
    }

    .btn_eye_icon {
        position  : absolute;
        right     : 0;
        bottom    : 4px;
        background: transparent;

        ion-icon {
            font-size: 22px;
            color    : #757575;
        }
    }

    .btn_eye_icon:focus {
        outline: none !important;
    }

    p.validator {
        color        : red;
        margin-left  : 6%;
        padding      : -3px 0px -12px 1px;
        margin-top   : auto;
        margin-bottom: auto;
    }

    .input-pass {
        height    : initial;
        background: transparent;
        border    : 0px solid;
        margin-top: 5%;
    }

    .mail {
        width           : 90%;
        height          : 55px;
        font-size       : 17px;
        border-radius   : 3px;
        font-weight     : 500;
        background-color: rgb(233, 233, 233);
        margin-top      : 20%;
        margin-left     : auto;
        margin-right    : auto;
        display         : flex;
        border          : 0px solid;
    }

}

@media (min-width: 619px) {

    .input-pass {
        margin-top: calc(1% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .passwordIcon {
        font-size: calc(4rem + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }


    .name {
        margin-top: calc(1% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;

    }

    .container-input {
        margin-top: calc(22% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .account {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .contain-register {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .Conectate-con {
        font-size: calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .mail {
        font-size: calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        height   : calc(60px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .password {
        font-size : calc(18px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        height    : calc(60px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
        margin-top: calc(2% + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }

    .iniciar-sesion {
        font-size: calc(20px + (24 - 14) * ((100vw - 300px) / (1200 - 300))) !important;
    }
}