<ion-content>
  <img class="splash" src="assets/imgs/splash.svg">
  <img class="logo" src="assets/imgs/medipharm.svg">
  <ion-label class="paciente">PACIENTE</ion-label>

   <form [formGroup]="form_login" (ngSubmit)="saveUser()">
    <input class="mail" type="text" formControlName="usuario" placeholder="user@gmail.com" [(ngModel)]="user.username">
    <ion-label *ngIf="form_login.get('usuario').errors && form_login.get('usuario').dirty">
      <p class="validator" ion-text *ngIf="form_login.get('usuario').hasError('required')">Este campo es requerido</p>
      <p class="validator" ion-text *ngIf="form_login.get('usuario').hasError('email')">El email es inválido</p>
    </ion-label>
    <div class="password">
      <ion-col col-10>
        <input [type]="passwordType" formControlName="password" clearOnEdit="true" placeholder="******"
          [(ngModel)]="user.password" class="input-pass">
      </ion-col>
      <ion-col col-2>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-col>
    </div>
    <div *ngIf="form_login.get('password').errors && form_login.get('password').dirty">
      <p class="validator" ion-text *ngIf="form_login.get('password').hasError('required')">Este campo es requerido
      </p>
      <p class="validator" ion-text *ngIf="form_login.get('password').hasError('pattern')">Contraseña debe contener
        letras y números</p>
    </div>
    <button ion-button class="iniciar-sesion" type="submit" [disabled]="form_login.invalid">INGRESAR</button>
  </form> 
  <ion-label class="Conectate-con"> Conéctate con </ion-label>
  
  <ion-row>
    <ion-col>
      <button ion-button class="conect-facebook" type="submit" (click)="login()">
        <ion-icon class="icon-face" name="logo-facebook"></ion-icon> &nbsp;FACEBOOK
      </button>
    </ion-col>
    <ion-col>
      <button ion-button class="conect-gmail" type="submit">
        <ion-icon class="icon-gmail" name="logo-google"></ion-icon> &nbsp;GOOGLE
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="contain-register" col-6>
      <ion-label class="olvid-cont" (click)="goForgotPass()"> Olvidaste tu contraseña? </ion-label>
    </ion-col>
    <ion-col class="account" col-6>
      <ion-label class="new-account" (tap)="goToRegister()"> CREAR CUENTA </ion-label>
    </ion-col>
  </ion-row>
  <!-- <div *ngIf="isLoggedIn">
    <img src="{{user.picture.data.url}}" alt=""><br>
    <i>{{user.name}}</i><br>
    <i>{{user.email}}</i><br>
  </div> -->


</ion-content>
