<ion-content>

  <img class="splash" src="assets/imgs/splash.svg">
  <img class="logo" src="assets/imgs/medipharm.svg">
  <ion-label class="text-forgot-pass">Recuperar Contraseña</ion-label>
  <div *ngIf="!passInfoSuccess">
    <div class="container-cancel">
      <label class="sel-text">Ingresa una dirección de correo electrónico válida, se te enviará una nueva contraseña</label>
    </div>
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmitRecovery()">
      <ion-item class="password">
        <input class="mail" formControlName="email" placeholder="user@gmail.com" [(ngModel)]="email">
      </ion-item>
      <ion-label *ngIf="resetPassForm.get('email').errors && resetPassForm.get('email').dirty">
        <p class="validator" ion-text *ngIf="resetPassForm.get('email').hasError('required')">Este campo es requerido
        </p>
        <p class="validator" ion-text *ngIf="resetPassForm.get('email').hasError('email')">El email es inválido</p>
      </ion-label>
      <button ion-button class="iniciar-sesion" type="submit" [disabled]="resetPassForm.invalid">CONTINUAR</button>
      <p class="go-login" (click)="goToLogin()"> Ir a Login </p>
    </form>
  </div>

  <div *ngIf="passInfoSuccess">
    <div class="container-cancel">
      <label class="sel-text">Su nueva contraseña fué enviada a su correo electrónico..!</label>
    </div>
    <button ion-button class="iniciar-sesion" type="submit" (click)="goToLogin()">ENTENDIDO</button>
  </div>

</ion-content>