<ion-content>

  <img class="splash" src="assets/imgs/splash.svg">
  <img class="logo" src="assets/imgs/medipharm.svg">
  <ion-label class="text-forgot-pass">Recuperar Contraseña</ion-label>
  <div *ngIf="!formPass">
    <div class="container-cancel">
      <label class="sel-text">Para recuperar el acceso a tu cuenta proporciona tu correo electrónico </label>
    </div>

    <div>
      <ion-item class="password">
        <input class="mail" placeholder="user@gmail.com" [(ngModel)]="email">
      </ion-item>
      <button ion-button class="iniciar-sesion" type="submit" (click)="sendPasswordRequest()">CONTINUAR</button>
      <p class="go-login" (click)="goToLogin()"> Ir a Login </p>
    </div>
  </div>

  <div *ngIf="formPass">
    <ion-item class="password">
      <input class="pass" placeholder="Escribir Contraseña" type="password">
    </ion-item>
    <ion-item class="password">
      <input class="pass" placeholder="Confirmar Contraseña" type="password">
    </ion-item>
  </div>


</ion-content>