<div class="content-body">
  <ion-navbar color="white">
    <ion-icon class="icon-desplegable" color="primary-default" name="ios-arrow-down-outline" (click)="goBack()">
    </ion-icon>
  </ion-navbar>
  <hr>

  <div class="container-cancel">
    <label class="cancelar-text">Mejora Resultados</label><br>
    <label class="sel-text">Ciudad </label>
    <ion-item class="city">
      <ion-label>Selecciona Ciudad</ion-label>
      <ion-select [(ngModel)]="filtered.ciudad" (ngModelChange)="updateData($event)">
        <ion-option value="Loja">Loja</ion-option>
        <ion-option value="Cuenca">Cuenca</ion-option>
        <ion-option value="" selected>Todos</ion-option>
      </ion-select>
    </ion-item>

    <label class="sel-text">Centros Médicos </label>
    <ion-item class="city">
      <ion-label>Selecciona Centro medico</ion-label>
      <ion-select [(ngModel)]="medicalC" >
        <ion-option *ngFor="let mc of medicalCenter" [value]="mc.nombre">{{mc.nombre}}</ion-option>
        <ion-option value="" selected>Todos</ion-option>
      </ion-select>
    </ion-item>
    <label class="sel-text">Especialidades </label>
    <ion-item class="city">
      <ion-label>Selecciona Especialidad</ion-label>
      <ion-select [(ngModel)]="filtered.especialidad">
        <ion-option *ngFor="let s of speciality" [value]="s.nombre">{{s.nombre}}</ion-option>
        <ion-option value="" selected>Todos</ion-option>
      </ion-select>
    </ion-item>
    <br />


  </div>
  <div class="container-buttons">
    <button class="not-cancel" (click)="goBack()"> CANCELAR </button>
    <button class="cancel" (click)="filter()"> ACEPTAR</button>
  </div>
</div>