<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon color="primary-default" name="log-out">&nbsp;Salir</ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="text-center">
      Paciente
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="section-category" class="container-home">

  <div class="div-head">
    <ion-row class="header-home">
      <ion-col col-9 class="container-text coloreasda" color="white-two1">
        <h3 class="elige-opcion">Elige una opción para interactuar</h3>
      </ion-col>
      <ion-col col-3 class="container-image" color="white-two1">
        <img class="image" src="assets/imgs/doctor.png">
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="dataHome" class="header-info">
    <label class="info-home">
      <img class="medic" src="assets/imgs/doc.svg">
      <label class="datos">Tu proxima cita agendada es para el {{dataHome.fecha}} a las
        {{dataHome.hora.substring(0, 5)}}</label>
    </label>
  </div>
  <div *ngIf="!dataHome" class="header-info">
    <label class="info-home">
      <img class="medic" src="assets/imgs/doc.svg">
      <label class="datos">Aún no tienes citas agendadas</label>
    </label>
  </div>


  <div *ngIf="slides" class="container-product-detail">
    <ion-slides pager>
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.src" class="img-product">
        <p class="slide-name-medical-center">{{slide.medicalCenter}}</p>
        <p class="slide-text">{{slide.detalle}}</p>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid class="section-hero white-bg" id="section-category">
    <ion-row *ngIf="data" class="g12grid">
      <ion-col class="block-explore" *ngFor="let category of data" col-6>
        <div class="inner" tappable (click)="goToMenu(category.component)">
          <div class="container">
            <a *ngIf="category.logo">
              <img class="crop" [src]="category.logo">
              <p class="explore-title">{{category.name}}</p>
              <p class="explore-text">{{category.text}}</p>
            </a>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>