<div class="content-body">
    <ion-navbar color="white">
      <ion-icon class="icon-desplegable" color="primary-default" name="ios-arrow-down-outline" (click)="goDay()">
      </ion-icon>
    </ion-navbar>
    <hr>
    <div *ngIf="medic">
      <ion-grid class="label-content">
        <ion-row>
          <ion-col class="name" col-12>
            {{medic.fecha}}&nbsp;-&nbsp;{{medic.hora}}
          </ion-col>
          <ion-col class="fecha" col-12 *ngIf="state">
            Estado Actual: <span class="span-state">{{state}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="container-cancel">
      <label class="cancelar-text">¿Deseas cancelar la cita?</label><br>
      <label class="sel-text">La cita agendada a esta hora se eliminará. </label>
    </div>
    <div class="container-buttons">
      <button class="not-cancel" (click)="goDay()"> NO </button>
      <button class="cancel" (click)="cancel(medic)"> ACEPTAR</button>
    </div>
</div>